header
{
background-color:pink;
font-family:cooper;
padding:4px;
text-align:left;
font-size:25px;
color:green;
}
body
{
background-color:Skyblue;
}
ul
{
width:100%;
background-color:lightgreen;
text-align:left;
height:70px;
}
footer
{
background-color:pink;
font-family:cooper;
padding:4px;
text-align:left;
font-size:25px;
color:green;
}

